# For projects using Nanoc (http://nanoc.ws/)

# Default location for output (needs to match output_dir's value found in nanoc.yaml)
output/

# Temporary file directory
/node_modules
/public
tmp/nanoc/
# Crash Log
audio.mp3
crash.log
